.navbar-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    user-select: none;
}

.navbar-button-icon {
    margin-right: 10px;
}

.navbar-button-content {
    padding-left: 10px;
}

.navbar-button-container:hover {
    cursor: pointer;
}

.navbar-button-link {
    color: inherit;
    text-decoration: inherit;
}