.navbar-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    user-select: none;
    margin-top: 5px;
}

.navbar-button-icon {
    margin-left: 10px;
}

.navbar-button-content {
    padding-left: 10px;
}

.navbar-button-container:hover {
    cursor: pointer;
    background: var(--mat-expansion-header-hover-state-layer-color, color-mix(in srgb, var(--mat-sys-on-surface) calc(var(--mat-sys-hover-state-layer-opacity) * 100%), transparent));
}

.navbar-button-link {
    color: inherit;
    text-decoration: inherit;
}