.initial-register-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial-register-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.initial-register-form-field {
    width: 380px;
}