<div class="page-content-container">
    <div class="form-container">
        <form class="initial-register-forms" [formGroup]="initialRegisterFormGroup">
            <mat-form-field class="initial-register-form-field">
                <mat-label>Quantidade atual</mat-label>
                <mat-icon matPrefix>attach_money_rounded</mat-icon>
                <input matInput required type="text" formControlName="current_value" placeholder="0,00"
                    mask="separator.2" thousandSeparator="." decimalMarker="," [leadZero]="true"
                    [allowNegativeNumbers]="false">
                <mat-hint>Digite a quantidade atual</mat-hint>
            </mat-form-field>

            <mat-form-field class="initial-register-form-field">
                <mat-label>Moeda de Preferência</mat-label>
                <mat-select formControlName="currency" [value]="currentAccountBalance?.currency.name ?? ''">
                    <mat-option>Nenhuma</mat-option>
                    @for (currency of availableCurrencies; track currency) {
                    <mat-option [value]="currency.name">{{ currency.name }} ({{currency.symbol}})</mat-option>
                    }
                </mat-select>
                <mat-hint>Selecione uma moeda</mat-hint>
            </mat-form-field>
        </form>
        <button mat-stroked-button [disabled]="!initialRegisterFormGroup.valid"
            (click)="updateCurrentAccountBalance()">Atualizar</button>

    </div>
</div>