<div class="page-content-container custom-container">
    <div class="header-card-container">
        <mat-card [class]="darkModeService.isUsingDarkTheme() ? 'green-gradient-dark' : 'green-gradient-light'">
            <mat-card-content class="card-content">
                <mat-card-subtitle style="margin-bottom: 10px;">Ganhos este mês</mat-card-subtitle>
                <mat-card-title>
                    {{ totalEarns | mask : 'separator.2' : currencyOptions }}
                </mat-card-title>
            </mat-card-content>
        </mat-card>
        <mat-card [class]="darkModeService.isUsingDarkTheme() ? 'purple-gradient-dark' : 'purple-gradient-light'">
            <mat-card-content class="card-content">
                <mat-card-subtitle style=" margin-bottom: 10px;">Balanço atual</mat-card-subtitle>
                <mat-card-title>
                    {{ currentAvailableValue | mask : 'separator.2' : currencyOptions }}
                </mat-card-title>
            </mat-card-content>
        </mat-card>
        <mat-card [class]="darkModeService.isUsingDarkTheme() ? 'red-gradient-dark' : 'red-gradient-light'">
            <mat-card-content class="card-content">
                <mat-card-subtitle style="margin-bottom: 10px;"> Gastos este mês</mat-card-subtitle>
                <mat-card-title>
                    {{ totalSpents | mask : 'separator.2' : currencyOptions }}
                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="dashboard-elements-container">
        <div class="dashboard-elements-row-group">
            <app-chart-month-gain-losts [inputData]="chartMovementsMonthInput"></app-chart-month-gain-losts>
            <app-chart-main-spents-categories
                [inputData]="chartMonthCategoriesInput"></app-chart-main-spents-categories>
        </div>
        <div class="dashboard-elements-row-group" style="margin-top: 40px;">
            <app-latest-movements-table style="width: 1548px;"></app-latest-movements-table>
        </div>
        <div class="dashboard-elements-row-group" style="margin-top: 150px;">
            <app-chart-last-year-movements-per-month
                [inputData]="chartLastYearMovementsInput"></app-chart-last-year-movements-per-month>
        </div>
    </div>
</div>