@use '@angular/material' as mat;
@use 'mdb-theme-colors.scss' as mdb;

@include mat.core();

html {
    $theme: dark;
    @include mdb.high-contrast-overrides($theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel {
    box-shadow: none;
}

:root {
    --mdc-outlined-text-field-error-hover-label-text-color: --mat-form-field-error-text-color;
    --mat-form-field-error-hover-trailing-icon-color: --mat-form-field-error-text-color;
}

.mdc-text-field--invalid {
    all: unset;
}

.hide-element {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    --moz-appearance: textfield;
}