.drawer-container {
    width: auto;
    height: 100%;
}

.content-container {
    padding: 20px;
}

.navbar-container {
    padding: 10px;
}

.menu-button {
    position: absolute;
    z-index: 9999;
}

.toggle-theme-button {
    position: absolute;
    z-index: 9999;
    top: 90px;
}